<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @page_title || (params[:tickers].present? ? params[:tickers] : 'Trading') %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="my-2">
    <nav class="text-center mb-3">
      <%= link_to 'Instruments', instruments_path %> |
      <%= link_to 'G', grouped_instruments_path %> |
      <%= link_to 'Spb', spb_instruments_path %>
      <span class="d-inline-block w-15p"></span>
      <%= link_to 'TA', signals_path %> |
      <%= link_to 'Results', signal_results_path %> |
      <%= link_to 'Strategies', signal_strategies_path %>
      <span class="d-inline-block w-15p"></span>
      <%= link_to 'Targets', recommendations_path %> |
      <%= link_to 'Levels', level_hits_path %> |
      <%= link_to 'Signals', public_signals_path %> |
      <%= link_to 'Compare', comparision_path %>
      <span class="d-inline-block w-15p"></span>
      <%= link_to 'Insider Tx', insider_transactions_path %> |
      <%= link_to 'Aggregates', insider_aggregates_path %> |
      <%= link_to 'Summaries', insider_summaries_path %>
      <span class="d-inline-block w-15p"></span>
      <%= link_to 'Arbitrage', arbitrages_path %> |
      <%= link_to 'Activity', activities_trading_path %> |
      <%= link_to 'Trading', dashboard_trading_path %>
    </nav>
    <%= yield %>
    <%= render "common/chart_modal" %>
  </body>
</html>
