<!DOCTYPE html>
<html>
  <head>
    <title>Trading</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="my-2">
    <nav class="text-center mb-3">
      <%= link_to 'Instruments', instruments_path %> |
      <%= link_to 'Insider Trades', insider_transactions_path %> |
      <%= link_to 'Recommendations', recommendations_path %>
    </nav>
    <%= yield %>
  </body>
</html>
